{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals":{

    },
    "rules": {
        "max-len": "off",
        "react/jsx-filename-extension": "off",
        "react/no-render-return-value": "off",
        "react/require-default-props": "warn"
    }
}