<!DOCTYPE html>

<html lang='en'>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
    <head>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
        <meta name='application-name' content='<%= htmlWebpackPlugin.options.title %>'>
        <meta name='version' content='<%= htmlWebpackPlugin.options.version %>'>
        <meta name='description' content='<%= htmlWebpackPlugin.options.description %>'>
    </head>
    <body>
        <div class="full" id='app-container'></div>
    </body>

</html>
